@use '../../var';

#btn{
    border: none;
    border-radius: 40px;
    padding: 1rem 2.5rem;
    font-weight: bold;
    font-size: .9em;
    background-color: var.$primary-color;
    color: var.$third-color;
    text-decoration: none;
    font-size: 1.2em;

    &:hover{
        background-color: var.$emphasis-color;
        color: var.$primary-color;
    }
}
