@use '../../var';


.service{
    color: var.$primary-color;
    background-color: white;

    &__title {
        font-size: 4rem;
        text-align: center;
        padding: 1rem;
    };

    &__form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;

        &__etablissement{
            font-size: 2rem;
        }

        &__photo{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;

            &__title{
                font-weight: normal;
                font-size: 2rem;
            }

            &__input{
                padding-bottom: 1rem;
            }
        }

        &__price{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }

        &__time{
            display: flex;
            flex-direction: column;
            align-items: center;

            &__title{
                font-weight: normal;
                font-size: 1.5rem;
                margin: 1rem;
            }

            &__info{
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-around;

                &__participants{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    font-size: 1.5rem;
                    height: 1rem;
                }

                &__select{
                    width: 60%;
                    height: 30%;
                }
            }
        }

        &__calendar{
            padding-bottom: 1rem;

            &__title{
                font-weight: normal;
                font-size: 1.5rem;
                text-align: center;
            }
        }

        &__info{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 1rem;
    
            &__btn{
                margin-top: 1rem;
                margin-right: 40%;
            }
        }
    }
}